<%= render "shared/header" %>
<ul class='item-lists'>
  <% if @items_category.any?%>
    <% @items_category.each do |item|%>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        <% unless item.purchased == nil%>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.postage.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <%end%>
  <% else %>
    <li class='list'>
      <h1>お探しの商品はございません</h1>
    </li>
  <% end %>
</ul>